exportPattern("^[[:alpha:]]+")
importFrom("graphics", "par", "plot")
importFrom("graphics", "legend", "lines")
importFrom("stats", "pnorm", "ppois")
importFrom("MASS", "area")
importFrom("FuzzyNumbers", "TriangularFuzzyNumber")
importFrom("FuzzyNumbers", "TrapezoidalFuzzyNumber")
importFrom("FuzzyNumbers", "alphacut")
importFrom("FuzzyNumbers", "supp")
importFrom("FuzzyNumbers", "core")
